html {
  height:100%;
  width:100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color:#404042;
}

a, a:visited {
  text-decoration: none;
  color:#404042;
}

#bottomlist li:hover, #toplist li:hover {
  text-decoration:underline;
}

#f li:hover {
  text-decoration:none;
}

#Gimage {
  margin:auto;
  width:269px;
}

#controls {
  margin:auto;
  width:234px;
}

.gbqfif {
  margin:auto;
  width:575px;
  display:block;
  border: 1px solid #DADAC8;
  height: 30px;
}

.gbqfif:hover {
  border: 1px solid #AEAEA0;
}

.buttons {
  font-size:11px;
  text-align:center;
  color:#404042;
}

.buttonstyle {
  float:left;
  margin:10px;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  background-color: #F5F5F5;
  height:30px;
  width:95px;
}

.buttonstyle:hover {
  border: 1px solid #929292;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
  font-size:12px;
}

#toplist {
  width:100%;
  height:60px;
  position:fixed;
  top:0px;
}


#bottomlist {
  width:100%;
  height:40px;
  position:fixed;
  bottom:0px;
  background-color:#EEEEEE;
  border-top:1px solid #D6D6D6;
}

.topright {
  float:right;
  margin-right:30px;
  margin-top:15px;
}

#bottomright {
  float:right;
  margin-right:20px;
  margin-top:12px;
}

#bottomleft {
  float:left;
  margin-left:20px;
  margin-top:12px;
}

#toplist li {
  font-size:14px;
}

#signin {
  background-color:#3385FF;
  margin-top:-5px;
  color:#ffffff;
  font-weight:bold;
  padding:7px;
  border-radius:3px;
}

